.cell {
  width: 35px;
  height: 35px;
  border: 1px solid #343742;
  display: flex;
  background-color: #798bbc;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.cell--flipped {
  background-color: #597bc0;
  border: 1px solid white;
}

.cell__text {
  font-size: 22px;

  color: #c6dfec;
  font-weight: 500;
}
